/**
 * -------------------------------------------------------- 
 * Reset
 * -------------------------------------------------------- */

* { margin: 0; padding: 0; }

*, *:before, *:after { box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul li { list-style: none; }
nav ul li::before { content: "\200B"; }
@media screen and ( max-width: 37.49em ) { nav ul li  { margin-left: 0; } }

