/**
 * -------------------------------------------------------- 
 * Custom properties
 * -------------------------------------------------------- */

:root {
    --base: 32px;
    
    --font-body: "Lucida Grande", sans-serif;
    
    --col-text: #3f4451;
	--col-text-light: #9f9f9f;
	--col-text-reverse: #fff;
    
	--col-page: #fff;
    --col-border: #eee;
}
